<h1 class="text-center p-4">Live Score</h1>
<div class="">
    <div>
        <table class="table table-striped text-center">
            <thead>
                <tr class="bg-dark text-white">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Venue</th>
                    <th>Status</th>
                    <th>Team1 Score (Run , Wicket , Over)</th>
                    <th>Team2 Score (Run , Wicket , Over)</th>
                    <th>Teams</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let scr of allscore.data;let i=index">
                    <td>{{scr.id }}</td>
                    <td>{{scr.name }}</td>
                    <td>{{scr.date }}</td>
                    <td>{{scr.venue}}</td>
                    <td>{{scr.status}}</td>
                    <td>{{scr.score[0].r}},{{scr.score[0].w}},{{scr.score[0].o}}</td>
                    <td>{{scr.score[1].r}},{{scr.score[1].w}},{{scr.score[1].o}}</td>
                    <td>{{scr.teams[0]}},{{scr.teams[1]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <p>{{allscore.data|json}}</p> -->
</div>
