.addUserHead {
    text-align: center;
    text-transform: Uppercase;
    font-family: Verdana;
    font-size: 3.3em;
    font-weight: 700;
    color: #eb6857;
    text-shadow: 8px 4px 5px #919191;
  }
  
  .first {
    margin-top: 70px;
  }
  
  .formDiv {
    border: 1px solid rgb(182, 182, 182);
    border-radius: 30px;
    background-color: rgba(74, 73, 73, 0.291);
  }
  
  .labels {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .firsthead {
    border-top-left-radius: 20px;
  }
  .lasthead {
    border-top-right-radius: 20px;
  }
  
  .tableDataHead {
    font-style: italic;
    font-weight: bold;
    color: teal;
  }
  