<div style="border-bottom: 2px solid #DA6122;">
<img src="./../../assets/images/logo.png" height="90" width="300" class="p-3 mx-auto d-block">
</div>
<div class="row">
    <!-- <hr style="margin: 0;padding: 0;border: 2px solid #DA6122;" class="text-orange"> -->
    <div class="col-6 text-center text-orange fw-bold fs-5 p-2">
        <a >Daily Update</a>
    </div>
    <div class="col-6 text-center text-orange fw-bold fs-5 p-2" style="background-color: #FBEEE8;">
        <a>Request for Leave</a>
    </div>
</div>