<h1 class="fw-bold p-5 text-center">Cards Setion</h1>
    
    <div class="d-flex justify-content-around col-sm-12" style="flex-wrap: wrap;">
        <div class="card m-4" style="width: 18rem;height: 65vh;" *ngFor="let card of cards.products ">
            <img class="card-img-top" src="{{card.images[0]}}" height="250" width="200">
            <div class="card-body">
                <h5 class="card-title">Id : {{card.id}}</h5>
                <h5 class="card-title text-primary">Name : {{ card.title}}</h5>
                <!-- <p class="card-text text-secondary" style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;line-clamp: 2;-webkit-box-orient: vertical;">{{card.description}}</p> -->
                <p class="card-text text-secondary" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;text-overflow: ellipsis;">{{card.description}}</p>
                <p class="card-text">Quantity : {{card.stock}}</p>
                <h4 class="text-danger">Price : {{card.price}}/-</h4>
                <a  class="btn btn-primary" style="bottom: 10px;position: absolute;">View Detail</a>
            </div>
        </div>
    </div>
<!-- <router-outlet></router-outlet> -->