.box{
    width: 30%;
    margin: auto;
    border-bottom: 3px solid #DA6427; 
    @media(max-width: 950px){
        width: 55%;
      }
      @media(max-width: 450px){
        width: 90%;
      }
}

button{
    background-color: #DA6427;
    color: white;
    border: none;
}

button:hover{
    background-color: #DA6427;
    color: white;
}

.content p{
    font-size: 20px;
}

#myTooltip{
    margin-left: 220px;
    height: 25px;
    border-radius: 0%;
}