.box{
    width: 33%;
    margin: auto;
    border-bottom: 3px solid #DA6427; 
}

button{
    background-color: #DA6427;
    color: white;
    border: none;
}

button:hover{
    background-color: #DA6427;
    color: white;
}